.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: "Inter", sans-serif;
  margin-block-start: 100px;
  font-weight: var(--main-weight);
  background-color: #b9b9b9;
  background-image: var(--linear-gradient);
  background-attachment: fixed;
  background-size: cover;
  font-variation-settings: "wght" var(--main-weight);
}

/* @supports (font-variation-settings: var(--main-weight)) {
  .page {
    font-family: var(--main-family);
  }
} */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--main-color);
  padding: clamp(7.5rem, 6.923rem + 2.462vi, 8rem) 0
    clamp(7.5rem, 6.923rem + 2.462vi, 8rem);
  background-color: var(--background-color);
}

.page-section {
  inline-size: var(--page-inline-size);
  margin: auto;
}

.header__logo {
  font-family: var(--accent-family);
  font-weight: var(--main-weight);
  font-size: var(--header-logo-size);
  text-transform: uppercase;
  text-decoration: none;
  pointer-events: none;
  cursor: default;
  margin-block-end: 20px;
  &:focus-visible {
    outline: none;
  }
}

.header__title {
  font-family: var(--accent-family);
  font-size: var(--header-title-size);
  font-weight: var(--main-weight);
  text-transform: uppercase;
}

main {
  display: flex;
  flex-direction: column;
  gap: 49px;
  margin-block-start: 101px;
  margin-block-end: 49px;
}

.card {
  border: 2px solid var(--main-color);
  background-color: var(--background-color);
}

.card__title {
  padding-inline: 10px;
  padding-top: 2px;
  padding-bottom: 7px;
  font-family: var(--main-family);
  font-variation-settings: "wght" var(--accent-weight);
  font-size: 18px;
  text-wrap: balance;
  border-block-end: 2px solid var(--main-color);
}

.card__container {
  position: relative;
  inline-size: 100%;
  margin-block-end: 25px;
  border-block-end: 2px solid var(--main-color);
}

.card__image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  vertical-align: bottom;
}

.filter-saturate {
  filter: saturate(200%) brightness(80%);
}

.filter-invert {
  filter: invert(85%);
}

.filter-brightness {
  filter: brightness(70%);
}

.filter-hue-rotate {
  filter: hue-rotate(0.5turn);
}

.filter-sepia {
  filter: sepia(0.8);
}

.filter-contrast {
  filter: contrast(300%);
}

.filter-grayscale {
  filter: grayscale(0.5);
}

.filter-blur {
  filter: blur(1px);
}

.card__lable {
  position: absolute;
  font-family: var(--accent-family);
  font-weight: var(--main-weight);
  font-size: 14px;
  top: 23px;
  right: 11px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-transform: uppercase;
  text-shadow: 2px 1px var(--background-color);
  @media (width > 375px) {
    top: 27px;
    right: 25px;
  }
}

@supports (text-stroke: 1px var(--background-color)) or
  (-webkit-text-stroke: 1px var(--background-color)) {
  .card__lable {
    -webkit-text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

.lable-low {
  text-transform: lowercase;
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-block-end: 25px;
  padding-inline: 25px;
}

.card__preface {
  font-family: var(--main-family);
  font-variation-settings: "wght" var(--main-weight);
  font-size: var(--font-size-text);
  text-wrap: balance;
}

.card__controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-inline: 26px;
  padding-bottom: 25px;
  gap: 8px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  padding: 2px;
  border: none;
  outline: 2px solid transparent;
  transition: 0.3s ease;
  &:focus-visible {
    outline: 2px solid var(--main-color);
  }
}

.card__like-button {
  padding: 13.5px 36px;
  max-inline-size: 127px;
}

.card__like-button:focus {
  border: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 2px #000;
}

.text-capital {
  text-transform: capitalize;
}

.modal {
  border: 2px solid var(--main-color);
  inline-size: var(--modal-inline-size);
  font-family: var(--accent-family);
  font-weight: var(--main-weight);
  text-transform: uppercase;
  font-size: 14px;
  padding-block: 30px;
  padding-inline: 40px;
  @media (width > 375px) {
    padding-inline: 30px;
  }
  @media (width < 375px) {
    padding-inline: 20px;
  }
}

.modal[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.modal[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.modal__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}

.modal__content svg {
  width: var(--svg-size);
}

.modal__content span {
  line-height: 1.5;
  inline-size: clamp(12.375rem, 11.583rem + 3.38vi, 14.625rem);
}

.button {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  outline: 2px solid var(--main-color);
  color: var(--background-color);
  background-color: var(--background-color);
  cursor: pointer;
  @media (width > 375px) {
    flex-direction: row;
  }
}

.button:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.button:hover:after {
  transform: scaleX(1);
}

.button-save {
  margin-inline: auto;
  padding: 17px 20px;
  gap: 8px;
  margin-bottom: 105px;
}

.button-save svg {
  position: relative;
  block-size: 28px;
  z-index: 1;
  mix-blend-mode: difference;
  @media (width > 375px) {
    block-size: 21px;
  }
}

.button-close {
  padding: 12.5px var(--button-size);
}

.button__text {
  position: relative;
  font-family: var(--accent-family);
  font-weight: var(--main-weight);
  font-size: 14px;
  line-height: 0.9;
  z-index: 10;
  mix-blend-mode: difference;
}

.text-high {
  text-transform: uppercase;
}
